
    /*default*/
    .headersection {
        background: #4C9ED9 none repeat scroll 0 0;
        color: #fff;
    } 
    .icon a {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    color: #064884; 
    }
    .searchbtn input[type="text"] {
      border: 1px solid #fff;
      width: 200px;
      background: #fff;
      font-size: 16px;
      height: 20px;
    }
    .searchbtn input[type="submit"] {
        border: 1px solid #007ACC;
        background: #007ACC;
        border-radius: 3px;
        font-size: 18px;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
        cursor: pointer;
    }
    .searchbtn input[type="submit"]:hover{
        background: #fff none repeat scroll 0 0;
        border: 1px solid #fff;
        color:#007ACC;
    }
    .navsection {
        background: none repeat scroll 0 0 #3678B4;
        min-height: 38px;
        transition: .5s;
    }
    .navsection ul li a{
        transition: .5s; 
    }
    .navsection ul li a:hover, #active {
        background: #fff;
        color: #51B614;
        transition: .5s;
    }
    .navsection ul li {
      border-left: 1px solid #4C9ED9;
      border-right: 1px solid #4C9ED9; 
    }
    .navsection ul li:first-child{border-left: 0px solid #74C001;}
    .navsection ul li:last-child{border-right: 0px solid #74C001;}
    .samesidebar h2 {
        background: #3678B4 none repeat scroll 0 0;
        border-bottom: 2px solid #3678B4;
        color: #fff; 
    }
    .maincontent {
        background: #85D7EF none repeat scroll 0 0;
    }
    .sidebar {
        background: #85D7EF none repeat scroll 0 0;
        border: 1px solid #85D7EF; 
    }
    .sidebar h2{
        color:#fff;
    }
    .popular h3 a {
        text-decoration: none;
        color: #fff;
    }
    .samesidebar ul li {
        border-bottom: 1px dashed #3678B4;
    }
    .sideli{
        color: #DE3839 !important;
    }
    .samesidebar ul li a{
        border-bottom: 1px dashed #51B614; 
    }
    .samepost h2 a {
        color: #fff;
    }
    .readmore a {
        background: #3678B4 none repeat scroll 0 0;
        border: 1px solid #3678B4; 
        color : #fff;
        margin-bottom:10px;
        transition: .5s;
    }
    .readmore a:hover{
        background: #fff none repeat scroll 0 0; 
        color : #3678B4;
        border: 1px solid #fff; 
        transition: .5s;
    }   
    .contentsection { 
        border: 1px solid #85D7EF; 
    }
    .pagination a {
        background: #3678B4 none repeat scroll 0 0;
        color: #fff;
        border: 1px solid #3678B4;
    }
    .pagination a:hover {
        background: #fff none repeat scroll 0 0;
        color: #3678B4;
        border: 1px solid #3678B4;
    }
    .samepost h2, .about h2 {
        border-bottom: 2px solid #fff !important;
        color: #3678B4;
        font-size: 25px;
        margin-bottom: 4px;
        padding: 10px 10px 10px 0;
        background: #3678B4 scroll 0 0;
        color: #fff !important;
    }
    .samepost h4 a, .about h4 a {
        color: #fff !important;
    }
    .footersection { 
        background: #4C9ED9; 
        color: #fff;
        font-size: 18px;
        padding-bottom:-20px; 
    } 
    .popular h3 {
        border-bottom: 1px dashed #fff;
    }